// Partner Logo Section Begin
.partner-logo
  .container
    .logo-carousel.owl-carousel
      .logo-item
        .tablecell-inner
          img(src='/img/logo-carousel/logo-1.png' alt='')
      .logo-item
        .tablecell-inner
          img(src='/img/logo-carousel/logo-2.png' alt='')
      .logo-item
        .tablecell-inner
          img(src='/img/logo-carousel/logo-3.png' alt='')
      .logo-item
        .tablecell-inner
          img(src='/img/logo-carousel/logo-4.png' alt='')
      .logo-item
        .tablecell-inner
          img(src='/img/logo-carousel/logo-5.png' alt='')
// Partner Logo Section End
// Footer Section Begin
footer.footer-section
  .container
    .row
      .col-lg-3
        .footer-left
          .footer-logo
            a(href='#')
              img(src='/img/footer-logo.png' alt='')
          ul
            li Address: 60-49 Road 11378 New York
            li Phone: +65 11.188.888
            li Email: hello.colorlib@gmail.com
          .footer-social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
      .col-lg-2.offset-lg-1
        .footer-widget
          h5 Information
          ul
            li
              a(href='/about-us') About Us
            li
              a(href='/checkout') Checkout
            li
              a(href='/contact') Contact
      .col-lg-2
        .footer-widget
          h5 My Account
          ul
            li
              a(href='/user-infor') My Account
            li
              a(href='/contact') Contact
            li
              a(href='/cart') Shopping Cart
            li
              a(href='/shop') Shop
      .col-lg-4
        .newslatter-item
          h5 Join Our Newsletter Now
          p Get E-mail updates about our latest shop and special offers.
          form.subscribe-form(action='#')
            input#subscribeEmail(type='email' placeholder='Enter Your Mail')
            button#subscribe(type='button') Subscribe
  .copyright-reserved
    .container
      .row
        .col-lg-12
          .copyright-text
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          .payment-pic
            img(src='img/payment-method.png' alt='')
// Footer Section End
// Js Plugins
script(src='/js/jquery-3.3.1.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/jquery.countdown.min.js')
script(src='/js/jquery.nice-select.min.js')
script(src='/js/jquery.zoom.min.js')
script(src='/js/jquery.dd.min.js')
script(src='/js/jquery.slicknav.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/main.js')
script.
  $(document).ready(function(){
    //logout
    $('#login-panel').click(function(){
      document.cookie = "userId=''; expires = Thu, 01 Jan 1970 00:00:00 GMT";
      document.cookie = "cart=''; expires = Thu, 01 Jan 1970 00:00:00 GMT";
      location.reload();
    })

    //get cart
    $.ajax({
      url: '/cart/cart-data',
      type: "get",
      contentType: "application/json",
      dataType: "json",
      success: function(data) {
        $('#cart-table').empty();
        var totalPrice = 0;
        for(let item of data.items){
          totalPrice += item.product.salePrice*item.quantity
          $('#cart-table').append(
            '<tr name="' + item.product._id + '&&' + item.color + '&&' + item.size + '">' + 
              '<td class="si-pic">' + 
                '<img src="' + item.product.images[0] + '"/>' + 
              '</td>' + 
              '<td class="si-text">' + 
                '<div class="product-selected">' + 
                  '<p>' + item.product.salePrice + '$ x ' + item.quantity + '</p>' + 
                  '<h6>' + item.product.name + ' - ' + item.color + ' - ' + item.size + '</h6>' +
                '</div>' + 
              '</td>' + 
              '<td class="si-close">' + 
                '<i class="ti-close"></i>' + 
              '</td>' +
            '</tr>');
        }
        $('#number-of-items').text(data.items.length);
        $('#cart-total-price').text(totalPrice + ' $');
        $('#outside-cart-total-price').text(totalPrice + ' $');
      },
      error: function (jqXhr, textStatus, errorMessage) {
      }
    });

    //delete item in cart
    $(document).on('click', '.si-close', function(){
      var name = $(this).parent().attr('name');
      var selector = $(this);
      $.ajax({
        url: '/cart/delete-item/' + name,
        type: 'delete',
        success: function(jsonData) {
          data = JSON.parse(jsonData);
          selector.parent().remove();
          $('#cart-total-price').text(data.totalPrice + ' $');
          $('#outside-cart-total-price').text(data.totalPrice + ' $');
          $('#number-of-items').text(data.numberOfItems);
        },
        error: function (jqXhr, textStatus, errorMessage) { 
          alert('error');
          alert(textStatus);
        }
      });
    });

    //subscribe email
    $('#subscribe').click(function(){
      var email = $('#subscribeEmail').val();
      alert(email);
      var data = {email: email};
      $.ajax({
        url: '/subscribe',
        type: "post",
        contentType: "application/json",
        data: JSON.stringify(data),
        dataType: "json",
        success: function(data){
          alert('Subscribe succesfully!');
        },
        error: function (jqXhr, textStatus, errorMessage) {
          alert('error');
        }
      });
    });
  });
  
