// Header Section Begin
block header
  // Header Section Begin
  header.header-section
    .header-top
      .container
        .ht-left
          .mail-service
            i.fa.fa-envelope
            |                         #{user ? ('Hello ' + user.fullname) : ''}
          .phone-service
            i.fa.fa-phone
            |                         +65 11.188.888
        .ht-right
          if user
            a.login-panel#login-panel(href='/')
              i.fa.fa-user
              | Log out
          else 
            a.login-panel(href='/login')
              i.fa.fa-user
              | Login
          .lan-selector
            select#countries.language_drop(name='countries' style='width:300px;')
              option(value='yt' data-image='/img/flag-1.jpg' data-imagecss='flag yt' data-title='English') English
              option(value='yu' data-image='/img/flag-2.jpg' data-imagecss='flag yu' data-title='Bangladesh') German 
          .top-social
            a(href='#')
              i.ti-facebook
            a(href='#')
              i.ti-twitter-alt
            a(href='#')
              i.ti-linkedin
            a(href='#')
              i.ti-pinterest
    .container
      .inner-header
        .row
          .col-lg-2.col-md-2
            .logo
              a(href='./')
                img(src='img/logo.png' alt='')
          .col-lg-7.col-md-7
            .advanced-search
              button.category-btn(type='button') All Categories
              .input-group
                form(action="/shop/search", method='get')
                  input(type='text' style="color:#000000" name='q' placeholder='What do you need?')
                  button(type='button')
                    i.ti-search
          .col-lg-3.text-right.col-md-3
            ul.nav-right
              li.heart-icon
                a(href='#')
                  i.icon_heart_alt
                  span 0
              li.cart-icon
                a#cart-icon(href='#')
                  i.icon_bag_alt
                  span#number-of-items 0
                .cart-hover
                  .select-items
                    table
                      tbody#cart-table
                  .select-total
                    span total:
                    h5#cart-total-price 0$
                  .select-button
                    a.primary-btn.view-card(href='#') VIEW CARD
                    a.primary-btn.checkout-btn(href='#') CHECK OUT
              li.cart-price#outside-cart-total-price 0$
    .nav-item
      .container
        .nav-depart
          .depart-btn
            i.ti-menu
            span All departments
            ul.depart-hover
              each category in categories
                li
                  a(href='/shop/category/' + category.name)= category.name
        nav.nav-menu.mobile-menu
          ul
            li.active
              a(href='/') Home
            li
              a(href='/shop') Shop
            li
              a(href='#') Collection
              ul.dropdown
                li
                  a(href='#') Men&apos;s
                li
                  a(href='#') Women&apos;s
                li
                  a(href='#') Kid&apos;s
            li
              a(href='/blog') Blog
            li
              a(href='/contact') Contact
            li
              a(href='#') Pages
              ul.dropdown
                li
                  a(href='/cart') Shopping Cart
                li
                  a(href='/checkout') Checkout
                li
                  a(href='/faq') Faq
                li
                  a(href='/register') Register
                li
                  a(href='/login') Login
        #mobile-menu-wrap
  // Header End