extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Add Product
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Add Products
        form(method='post')
          .form-group
            label Category *
            select#category.form-control.form-control-line(path='categories.id')
              options(items='${categories}' itemvalue='id' itemlabel='name')
          .form-group
            label Title *
            input#title.form-control(type='text')
            small#emailHelp.form-text.text-muted
          .form-group
            label Price *
            input#price.form-control(type='text')
            small#emailHelp.form-text.text-muted  USD 
          .form-group
            label Sale Price
            input#salePrice.form-control(type='text')
            small#emailHelp.form-text.text-muted  USD 
          .form-group
            label Short Description *
            input#shortDescription.form-control(type='text')
            small#emailHelp.form-text.text-muted  Show in product 
          .form-group
            label Details description *
            textarea#detailDescription.form-control.summernote(name='editordata')
          .form-group
            label Colors *
            button#add-color.btn.btn-secondary.mb-2.ml-2(type='button') Add color
            #colors-form-container
              input.form-control.colors-form.mb-1(type='text')
            small#emailHelp.form-text.text-muted
          .form-group
            label Tags *
            button#add-tag.btn.btn-secondary.mb-2.ml-2(type='button') Add tag
            #tags-form-container
              input.form-control.tags-form.mb-1(type='text')
            small#emailHelp.form-text.text-muted
          .form-group
            label SEO
            input#seo.form-control(type='text')
          .form-group
            label Avatar
            input(type='file' name='images' multiple='multiple')
          .form-group
            label Images
            input(type='file' name='images' multiple='multiple')
          button.btn.btn-primary.mt-3(type='submit') Add Product
    include ../common/footer
    script.
      $(document).ready(function () {
        $('.summernote').summernote();
        $('#add-tag').click(function(){
          $('#tags-form-container').append('<input type="text" class="form-control tags-form mb-1" />')
        })
        $('#add-color').click(function(){
          $('#colors-form-container').append('<input type="text" class="form-control colors-form mb-1" />')
        })
      });

