extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Products
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Products
        #error-message.alert.alert-danger
        #success-message.alert.alert-success
        .card.mb-4
          .card-body
            | DataTables is a third party plugin that is used to generate the demo table below. For more information
            | about DataTables, please visit the
            a(target='_blank' href='https://datatables.net/') official DataTables documentation
            |               .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Name
                    th Category
                    th Price
                    th Sale Price
                    th.text-center Status
                    th Edit
                    th Delete
                tfoot
                  tr
                    th Name
                    th Category
                    th Price
                    th Sale Price
                    th.text-center Status
                    th Edit
                    th Delete
                tbody
                  for product in products
                    tr
                      td= product.name
                      td= product.category.name
                      td= product.price
                      td= product.salePrice
                      if product.status 
                        td.text-center.text-success
                          h5
                            i.fas.fa-check-circle
                      else 
                        td.text-center.text-danger
                          h5
                            i.fas.fa-minus-circle
                      td(name= product.id)
                        a.btn.btn-warning.edit-product(name= product.id, href='/admin/products/edit/' + product.id)
                          i.fas.fa-edit
                      td(name= product.id)
                        button.btn.btn-secondary.delete-product(name= product.id)
                          i.fas.fa-trash-alt
    include ../common/footer
    script.
      $('#error-message').hide();
      $('#success-message').hide();
      
      $(document).ready(function(){
        $('.delete-product').click(function(){
          var answer = confirm("Are you sure you want to delete " + $(this).parent().parent().children().first().text() + '?');
          if (answer === false) {
            return;
          }
          var name = $(this).parent().attr('name');
          var selector = $(this);
          $.ajax({
            url: '/admin/products/delete/' + name,
            type: 'delete',
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              selector.parent().parent().remove();
              $('#success-message').text('Delete ' + data.name + ' successfully!');
              $('#success-message').show();
              $('#error-message').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
              $('#error-message').text('Error.');
              $('#error-message').show();
            }
          });
        });
      });