nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='index.html') Start Bootstrap
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(href='#')
    i.fas.fa-bars
  // Navbar Search
  form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
    .input-group
      input.form-control(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
      .input-group-append
        button.btn.btn-primary(type='button')
          i.fas.fa-search
  // Navbar
  ul.navbar-nav.ml-auto.ml-md-0
    li.nav-item.dropdown
      a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-user.fa-fw
      .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
        a.dropdown-item(href='#') Settings
        a.dropdown-item(href='#') Activity Log
        .dropdown-divider
        a.dropdown-item(href='/login/admin') Logout
#layoutSidenav
  #layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
      .sb-sidenav-menu
        .nav
          .sb-sidenav-menu-heading Core
          a.nav-link(href='/admin')
            .sb-nav-link-icon
              i.fas.fa-tachometer-alt
            |               Dashboard
          .sb-sidenav-menu-heading Interface
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseCategories' aria-expanded='false' aria-controls='collapseCategories')
            .sb-nav-link-icon
              i.fas.fa-list
            |               Categories
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseCategories.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='/admin/category/all-categories') All Categories
              a.nav-link(href='/admin/category/add-category') Add Category
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseProducts' aria-expanded='false' aria-controls='collapseProducts')
            .sb-nav-link-icon
              i.fab.fa-product-hunt
            |               Products
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseProducts.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='/admin/product/all-products') All Products
              a.nav-link(href='/admin/product/add-product') Add Product
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseContacts' aria-expanded='false' aria-controls='collapseContacts')
            .sb-nav-link-icon
              i.fas.fa-envelope
            |               Contacts
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseContacts.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='/admin/contact/all-contacts') All Contact
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseOrders' aria-expanded='false' aria-controls='collapseOrders')
            .sb-nav-link-icon
              i.fas.fa-shopping-cart
            |               Orders
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseOrders.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='/admin/order/all-orders') All Orders
              a.nav-link(href='layout-static.html') Pending Orders
              a.nav-link(href='layout-static.html') Delivering Orders
              a.nav-link(href='layout-static.html') Canceled Orders
              a.nav-link(href='layout-static.html') Success Orders
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseBlog' aria-expanded='false' aria-controls='collapseBlog')
            .sb-nav-link-icon
              i.fas.fa-blog
            |               Blog
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseBlog.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='/admin/post/all-posts') All Posts
              a.nav-link(href='/admin/post/add-post') Add Post
              a.nav-link(href='layout-sidenav-light.html') Your posts
              a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#pagesCollapseAuth' aria-expanded='false' aria-controls='pagesCollapseAuth')
                | Categories
                .sb-sidenav-collapse-arrow
                  i.fas.fa-angle-down
              #pagesCollapseAuth.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordionPages')
                nav.sb-sidenav-menu-nested.nav
                  a.nav-link(href='/admin/blogcategory/all-blogcategories') All Blog Categories
                  a.nav-link(href='/admin/blogcategory/add-blogcategory') Add Blog Categories
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseUsers' aria-expanded='false' aria-controls='collapseUsers')
            .sb-nav-link-icon
              i.fas.fa-users
            |               Users
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapseUsers.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordion')
            nav.sb-sidenav-menu-nested.nav
              a.nav-link(href='/admin/user/all-users') All Users
              a.nav-link(href='/admin/user/add-user') Add User
              a.nav-link(href='layout-sidenav-light.html') Your Profile
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapsePages' aria-expanded='false' aria-controls='collapsePages')
            .sb-nav-link-icon
              i.fas.fa-book-open
            |               Pages
            .sb-sidenav-collapse-arrow
              i.fas.fa-angle-down
          #collapsePages.collapse(aria-labelledby='headingTwo' data-parent='#sidenavAccordion')
            nav#sidenavAccordionPages.sb-sidenav-menu-nested.nav.accordion
              a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#pagesCollapseAuth' aria-expanded='false' aria-controls='pagesCollapseAuth')
                | Authentication
                .sb-sidenav-collapse-arrow
                  i.fas.fa-angle-down
              #pagesCollapseAuth.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordionPages')
                nav.sb-sidenav-menu-nested.nav
                  a.nav-link(href='login.html') Login
                  a.nav-link(href='register.html') Register
                  a.nav-link(href='password.html') Forgot Password
              a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#pagesCollapseError' aria-expanded='false' aria-controls='pagesCollapseError')
                | Error
                .sb-sidenav-collapse-arrow
                  i.fas.fa-angle-down
              #pagesCollapseError.collapse(aria-labelledby='headingOne' data-parent='#sidenavAccordionPages')
                nav.sb-sidenav-menu-nested.nav
                  a.nav-link(href='401.html') 401 Page
                  a.nav-link(href='404.html') 404 Page
                  a.nav-link(href='500.html') 500 Page
      .sb-sidenav-footer
        .small Logged in as:
        |           Start Bootstrap
  block content 