extends ./common/layout
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span About us
  // Breadcrumb Form Section Begin
  // Register Section Begin
  .register-login-section.spad
    .container
      .row
        .col-lg-12
          .register-form
            h2 About us
      h1(style='margin-top: 0px; margin-bottom: 0px; padding: 0px; font-family: DauphinPlain; font-size: 70px; line-height: 90px; color: rgb(0, 0, 0); text-align: center;') Lorem Ipsum
      h4(style='margin-right: 10px; margin-bottom: 5px; margin-left: 10px; padding: 0px; font-size: 14px; line-height: 18px; text-align: center; font-style: italic; color: rgb(0, 0, 0); font-family: "Open Sans", Arial, sans-serif;')
        | &quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;
      h5(style='margin: 5px 10px 20px; padding: 0px; font-size: 12px; line-height: 14px; text-align: center; color: rgb(0, 0, 0); font-family: "Open Sans", Arial, sans-serif;')
        | &quot;There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain...&quot;
      hr(style='margin: 0px; padding: 0px; clear: both; border-top: 0px; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); color: rgb(0, 0, 0); font-family: "Open Sans", Arial, sans-serif; text-align: center;')
      #Content(style='margin: 0px; padding: 0px; position: relative; color: rgb(0, 0, 0); font-family: "Open Sans", Arial, sans-serif; text-align: center;')
        #bannerL(style='margin: 0px 0px 0px -160px; padding: 0px; position: sticky; top: 20px; width: 160px; height: 10px; float: left; text-align: right;')
          #div-gpt-ad-1474537762122-2(data-google-query-id='CJSxocDS-O4CFdYOXAod00gMjA' style='margin: 0px; padding: 0px;')
            div(id='google_ads_iframe_/15188745/Lipsum-Unit3_0__container__' style='margin: 0px; padding: 0px; border: 0pt none; display: inline-block; width: 160px; height: 600px;')
              iframe(frameborder='0' src='https://0b3375e02f63b4b3dce04b8d28e7d7b5.safeframe.googlesyndication.com/safeframe/1-0-37/html/container.html' id='google_ads_iframe_/15188745/Lipsum-Unit3_0' title='3rd party ad content' name='' scrolling='no' marginwidth='0' marginheight='0' width='160' height='600' data-is-safeframe='true' sandbox='allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation' data-google-container-id='2' data-load-complete='true' style='margin: 0px; padding: 0px; border-width: 0px; border-style: initial; vertical-align: bottom;')
        #bannerR(style='margin: 0px -160px 0px 0px; padding: 0px; position: sticky; top: 20px; width: 160px; height: 10px; float: right; text-align: left;')
          #div-gpt-ad-1474537762122-3(data-google-query-id='CJWxocDS-O4CFdYOXAod00gMjA' style='margin: 0px; padding: 0px;')
            div(id='google_ads_iframe_/15188745/Lipsum-Unit4_0__container__' style='margin: 0px; padding: 0px; border: 0pt none; display: inline-block; width: 160px; height: 600px;')
              iframe(frameborder='0' src='https://0b3375e02f63b4b3dce04b8d28e7d7b5.safeframe.googlesyndication.com/safeframe/1-0-37/html/container.html' id='google_ads_iframe_/15188745/Lipsum-Unit4_0' title='3rd party ad content' name='' scrolling='no' marginwidth='0' marginheight='0' width='160' height='600' data-is-safeframe='true' sandbox='allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation' data-google-container-id='3' data-load-complete='true' style='margin: 0px; padding: 0px; border-width: 0px; border-style: initial; vertical-align: bottom;')
        .boxed(style='margin: 10px 28.8px; padding: 0px; clear: both;')
          #lipsum(style='margin: 0px; padding: 0px; text-align: justify;')
            p(style='margin-bottom: 15px; padding: 0px;')
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam sem, consectetur tempor accumsan et, accumsan ac nisl. Nunc luctus nec mi ut ornare. Fusce ut pellentesque nisi, sed lobortis sem. In accumsan velit justo, porta pharetra odio varius ac. Morbi odio sem, posuere eu bibendum in, varius mollis elit. Nulla dapibus odio non leo ultricies consectetur. Pellentesque dui est, cursus vitae urna posuere, cursus tempus mauris. Suspendisse ipsum sem, consequat non metus at, finibus eleifend elit. Cras aliquet ex iaculis nibh molestie ornare. Pellentesque magna ante, posuere vel eros at, varius elementum dui. Sed tempor mi pretium mollis egestas. Maecenas sollicitudin, augue non luctus efficitur, turpis odio feugiat lacus, condimentum faucibus felis erat et tortor. Fusce sit amet lectus ligula. Pellentesque a malesuada nibh. Cras at pharetra tortor.
            p(style='margin-bottom: 15px; padding: 0px;')
              | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis vitae lorem ut arcu consectetur mattis sit amet sit amet mi. Vestibulum id sapien ut orci hendrerit maximus quis vel velit. Nam ultrices odio in orci posuere tincidunt. Integer mi justo, volutpat ut diam non, viverra rhoncus ligula. Suspendisse ex arcu, consequat et ultricies quis, consequat in justo. Suspendisse tristique nisl et efficitur viverra. Proin risus odio, ornare ut pretium et, porta non massa. Phasellus venenatis quis lectus ut imperdiet. Nunc vel orci ipsum. Suspendisse facilisis placerat lorem. Vestibulum ultrices ex ligula, eu euismod ligula ultrices ut.
            p(style='margin-bottom: 15px; padding: 0px;')
              | Vestibulum sed mauris eget lacus porttitor pulvinar. Nam pretium neque dolor, venenatis congue nisi mollis non. Maecenas malesuada justo ut ex luctus congue. Donec sed tempor turpis, quis tincidunt erat. Donec id fermentum dolor. Aenean viverra lacus enim, quis venenatis tortor ultricies in. Fusce viverra, neque eu aliquet maximus, elit nisi lobortis sem, vitae faucibus neque magna ac massa. Phasellus auctor nec arcu in viverra.
            p(style='margin-bottom: 15px; padding: 0px;')
              | Donec ac hendrerit velit, sed scelerisque ligula. Maecenas ac quam in neque rutrum auctor. Sed maximus pharetra enim, sit amet viverra risus volutpat in. Proin felis tellus, laoreet sit amet nisl vel, cursus volutpat urna. Vivamus dictum et tortor vitae sodales. Curabitur posuere, urna id tristique pulvinar, metus sem feugiat libero, vel dapibus nibh erat at nunc. Suspendisse iaculis sit amet enim vitae finibus. Integer malesuada, urna nec tincidunt convallis, nulla justo sagittis nulla, sed scelerisque felis orci vitae nisl. Praesent ultrices egestas diam. Integer ut mauris sed quam aliquet semper at at quam. Nulla quis quam molestie, dignissim metus sed, hendrerit arcu. Vestibulum ac ipsum placerat, accumsan elit a, porta metus. Fusce vulputate pharetra massa, nec tincidunt diam. Quisque aliquet lobortis sodales. Suspendisse a ultrices tellus. Nunc feugiat odio vitae gravida pellentesque.
            p(style='margin-bottom: 15px; padding: 0px;')
              | Nam at finibus lorem. Aenean vulputate orci ut libero fringilla luctus nec in nisl. Donec porta nulla nisl, id semper nisl efficitur lacinia. Maecenas elementum vulputate ex. Sed vitae tempus nibh, id tempus elit. Nunc laoreet a eros et consectetur. Donec sed nunc rhoncus, venenatis enim ut, egestas odio. Nulla ac massa mollis, porttitor felis vel, sodales quam.

  // Register Form Section End
  include ./common/footer