extends ./common/layout.pug
block content
  // Header Section Begin
  header.header-section
    .header-top
      .container
        .ht-left
          .mail-service
            i.fa.fa-envelope
            |                         hello.colorlib@gmail.com
          .phone-service
            i.fa.fa-phone
            |                         +65 11.188.888
        .ht-right
          a.login-panel(href='#')
            i.fa.fa-user
            | Login
          .lan-selector
            select#countries.language_drop(name='countries' style='width:300px;')
              option(value='yt' data-image='img/flag-1.jpg' data-imagecss='flag yt' data-title='English') English
              option(value='yu' data-image='img/flag-2.jpg' data-imagecss='flag yu' data-title='Bangladesh') German 
          .top-social
            a(href='#')
              i.ti-facebook
            a(href='#')
              i.ti-twitter-alt
            a(href='#')
              i.ti-linkedin
            a(href='#')
              i.ti-pinterest
    .container
      .inner-header
        .row
          .col-lg-2.col-md-2
            .logo
              a(href='./index.html')
                img(src='img/logo.png' alt='')
          .col-lg-7.col-md-7
            .advanced-search
              button.category-btn(type='button') All Categories
              form.input-group(action='#')
                input(type='text' placeholder='What do you need?')
                button(type='button')
                  i.ti-search
          .col-lg-3.text-right.col-md-3
            ul.nav-right
              li.heart-icon
                a(href='#')
                  i.icon_heart_alt
                  span 1
              li.cart-icon
                a(href='#')
                  i.icon_bag_alt
                  span 3
                .cart-hover
                  .select-items
                    table
                      tbody
                        tr
                          td.si-pic
                            img(src='img/select-product-1.jpg' alt='')
                          td.si-text
                            .product-selected
                              p $60.00 x 1
                              h6 Kabino Bedside Table
                          td.si-close
                            i.ti-close
                        tr
                          td.si-pic
                            img(src='img/select-product-2.jpg' alt='')
                          td.si-text
                            .product-selected
                              p $60.00 x 1
                              h6 Kabino Bedside Table
                          td.si-close
                            i.ti-close
                  .select-total
                    span total:
                    h5 $120.00
                  .select-button
                    a.primary-btn.view-card(href='#') VIEW CARD
                    a.primary-btn.checkout-btn(href='#') CHECK OUT
              li.cart-price $150.00
    .nav-item
      .container
        .nav-depart
          .depart-btn
            i.ti-menu
            span All departments
            ul.depart-hover
              li.active
                a(href='#') Women&rsquo;s Clothing
              li
                a(href='#') Men&rsquo;s Clothing
              li
                a(href='#') Underwear
              li
                a(href='#') Kid&apos;s Clothing
              li
                a(href='#') Brand Fashion
              li
                a(href='#') Accessories/Shoes
              li
                a(href='#') Luxury Brands
              li
                a(href='#') Brand Outdoor Apparel
        nav.nav-menu.mobile-menu
          ul
            li
              a(href='./index.html') Home
            li
              a(href='./shop.html') Shop
            li
              a(href='#') Collection
              ul.dropdown
                li
                  a(href='#') Men&apos;s
                li
                  a(href='#') Women&apos;s
                li
                  a(href='#') Kid&apos;s
            li
              a(href='./blog.html') Blog
            li
              a(href='./contact.html') Contact
            li
              a(href='#') Pages
              ul.dropdown
                li
                  a(href='./blog-details.html') Blog Details
                li
                  a(href='./shopping-cart.html') Shopping Cart
                li
                  a(href='./check-out.html') Checkout
                li
                  a(href='./faq.html') Faq
                li
                  a(href='./register.html') Register
                li
                  a(href='./login.html') Login
        #mobile-menu-wrap
  // Header End
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text.product-more
            a(href='./home.html')
              i.fa.fa-home
              |  Home
            a(href='./shop.html') Shop
            span Shopping Cart
  // Breadcrumb Section Begin
  // Shopping Cart Section Begin
  section.shopping-cart.spad
    .container
      .row
        .col-lg-12
          .cart-table
            table
              thead
                tr
                  th Image
                  th.p-name Product Name
                  th Price
                  th Quantity
                  th Total
                  th
                    i.ti-close
              tbody
                tr
                  td.cart-pic.first-row
                    img(src='img/cart-page/product-1.jpg' alt='')
                  td.cart-title.first-row
                    h5 Pure Pineapple
                  td.p-price.first-row $60.00
                  td.qua-col.first-row
                    .quantity
                      .pro-qty
                        input(type='text' value='1')
                  td.total-price.first-row $60.00
                  td.close-td.first-row
                    i.ti-close
                tr
                  td.cart-pic
                    img(src='img/cart-page/product-2.jpg' alt='')
                  td.cart-title
                    h5 American lobster
                  td.p-price $60.00
                  td.qua-col
                    .quantity
                      .pro-qty
                        input(type='text' value='1')
                  td.total-price $60.00
                  td.close-td
                    i.ti-close
                tr
                  td.cart-pic
                    img(src='img/cart-page/product-3.jpg' alt='')
                  td.cart-title
                    h5 Guangzhou sweater
                  td.p-price $60.00
                  td.qua-col
                    .quantity
                      .pro-qty
                        input(type='text' value='1')
                  td.total-price $60.00
                  td.close-td
                    i.ti-close
          .row
            .col-lg-4
              .cart-buttons
                a.primary-btn.continue-shop(href='#') Continue shopping
                a.primary-btn.up-cart(href='#') Update cart
              .discount-coupon
                h6 Discount Codes
                form.coupon-form(action='#')
                  input(type='text' placeholder='Enter your codes')
                  button.site-btn.coupon-btn(type='submit') Apply
            .col-lg-4.offset-lg-4
              .proceed-checkout
                ul
                  li.subtotal
                    | Subtotal 
                    span $240.00
                  li.cart-total
                    | Total 
                    span $240.00
                a.proceed-btn(href='#') PROCEED TO CHECK OUT
  // Shopping Cart Section End
  include ./common/footer