extends ./common/layout
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span Contact
  // Breadcrumb Section Begin
  // Map Section Begin
  .map.spad
    .container
      .map-inner
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd' height='610' style='border:0' allowfullscreen='')
        .icon
          i.fa.fa-map-marker
  // Map Section Begin
  // Contact Section Begin
  section.contact-section.spad
    .container
      .row
        .col-lg-5
          .contact-title
            h4 Contacts Us
            p
              | Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
              | classical Latin literature from 45 BC, maki years old.
          .contact-widget
            .cw-item
              .ci-icon
                i.ti-location-pin
              .ci-text
                span Address:
                p 60-49 Road 11378 New York
            .cw-item
              .ci-icon
                i.ti-mobile
              .ci-text
                span Phone:
                p +65 11.188.888
            .cw-item
              .ci-icon
                i.ti-email
              .ci-text
                span Email:
                p hellocolorlib@gmail.com
        .col-lg-6.offset-lg-1
          .contact-form
            .leave-comment
              h4 Leave A Comment
              p Our staff will call back later and answer your questions.
              form.comment-form(action='#')
                .row
                  .col-lg-6
                    input#name(type='text' placeholder='Your name')
                  .col-lg-6
                    input#email(type='text' placeholder='Your email')
                  .col-lg-12
                    textarea#content(placeholder='Your message')
                    button.site-btn(onClick='saveContact();') Send message
  // Contact Section End
  script.
    function saveContact() {
      // javascript object.
      var data = {};
      data["email"] = $("#email").val();
      data["name"] = $("#name").val();
      data["content"] = $("#content").val();
      $.ajax({
        url: "/contact",
        type: "post",
        contentType: "application/json",
        data: JSON.stringify(data),
        dataType: "json",
        success: function(jsonResult) {
          alert("Send Message Successfully!");
        },
        error: function (jqXhr, textStatus, errorMessage) { // error callback 
              
        }
      });
    }

  include ./common/footer

    