extends ./common/layout
block content
  // Header Section Begin
  header.header-section
    .header-top
      .container
        .ht-left
          .mail-service
            i.fa.fa-envelope
            |                         hello.colorlib@gmail.com
          .phone-service
            i.fa.fa-phone
            |                         +65 11.188.888
        .ht-right
          a.login-panel(href='#')
            i.fa.fa-user
            | Login
          .lan-selector
            select#countries.language_drop(name='countries' style='width:300px;')
              option(value='yt' data-image='img/flag-1.jpg' data-imagecss='flag yt' data-title='English') English
              option(value='yu' data-image='img/flag-2.jpg' data-imagecss='flag yu' data-title='Bangladesh') German 
          .top-social
            a(href='#')
              i.ti-facebook
            a(href='#')
              i.ti-twitter-alt
            a(href='#')
              i.ti-linkedin
            a(href='#')
              i.ti-pinterest
    .container
      .inner-header
        .row
          .col-lg-2.col-md-2
            .logo
              a(href='./index.html')
                img(src='img/logo.png' alt='')
          .col-lg-7.col-md-7
            .advanced-search
              button.category-btn(type='button') All Categories
              form.input-group(action='#')
                input(type='text' placeholder='What do you need?')
                button(type='button')
                  i.ti-search
          .col-lg-3.text-right.col-md-3
            ul.nav-right
              li.heart-icon
                a(href='#')
                  i.icon_heart_alt
                  span 1
              li.cart-icon
                a(href='#')
                  i.icon_bag_alt
                  span 3
                .cart-hover
                  .select-items
                    table
                      tbody
                        tr
                          td.si-pic
                            img(src='img/select-product-1.jpg' alt='')
                          td.si-text
                            .product-selected
                              p $60.00 x 1
                              h6 Kabino Bedside Table
                          td.si-close
                            i.ti-close
                        tr
                          td.si-pic
                            img(src='img/select-product-2.jpg' alt='')
                          td.si-text
                            .product-selected
                              p $60.00 x 1
                              h6 Kabino Bedside Table
                          td.si-close
                            i.ti-close
                  .select-total
                    span total:
                    h5 $120.00
                  .select-button
                    a.primary-btn.view-card(href='#') VIEW CARD
                    a.primary-btn.checkout-btn(href='#') CHECK OUT
              li.cart-price $150.00
    .nav-item
      .container
        .nav-depart
          .depart-btn
            i.ti-menu
            span All departments
            ul.depart-hover
              li.active
                a(href='#') Women&rsquo;s Clothing
              li
                a(href='#') Men&rsquo;s Clothing
              li
                a(href='#') Underwear
              li
                a(href='#') Kid&apos;s Clothing
              li
                a(href='#') Brand Fashion
              li
                a(href='#') Accessories/Shoes
              li
                a(href='#') Luxury Brands
              li
                a(href='#') Brand Outdoor Apparel
        nav.nav-menu.mobile-menu
          ul
            li
              a(href='./index.html') Home
            li
              a(href='./shop.html') Shop
            li
              a(href='#') Collection
              ul.dropdown
                li
                  a(href='#') Men&apos;s
                li
                  a(href='#') Women&apos;s
                li
                  a(href='#') Kid&apos;s
            li
              a(href='./blog.html') Blog
            li.active
              a(href='./contact.html') Contact
            li
              a(href='#') Pages
              ul.dropdown
                li
                  a(href='./blog-details.html') Blog Details
                li
                  a(href='./shopping-cart.html') Shopping Cart
                li
                  a(href='./check-out.html') Checkout
                li
                  a(href='./faq.html') Faq
                li
                  a(href='./register.html') Register
                li
                  a(href='./login.html') Login
        #mobile-menu-wrap
  // Header End
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span Contact
  // Breadcrumb Section Begin
  // Map Section Begin
  .map.spad
    .container
      .map-inner
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd' height='610' style='border:0' allowfullscreen='')
        .icon
          i.fa.fa-map-marker
  // Map Section Begin
  // Contact Section Begin
  section.contact-section.spad
    .container
      .row
        .col-lg-5
          .contact-title
            h4 Contacts Us
            p
              | Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
              | classical Latin literature from 45 BC, maki years old.
          .contact-widget
            .cw-item
              .ci-icon
                i.ti-location-pin
              .ci-text
                span Address:
                p 60-49 Road 11378 New York
            .cw-item
              .ci-icon
                i.ti-mobile
              .ci-text
                span Phone:
                p +65 11.188.888
            .cw-item
              .ci-icon
                i.ti-email
              .ci-text
                span Email:
                p hellocolorlib@gmail.com
        .col-lg-6.offset-lg-1
          .contact-form
            .leave-comment
              h4 Leave A Comment
              p Our staff will call back later and answer your questions.
              form.comment-form(action='#')
                .row
                  .col-lg-6
                    input(type='text' placeholder='Your name')
                  .col-lg-6
                    input(type='text' placeholder='Your email')
                  .col-lg-12
                    textarea(placeholder='Your message')
                    button.site-btn(type='submit') Send message
  // Contact Section End
  include ./common/footer