extends ./common/layout
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span Login
  // Breadcrumb Form Section Begin
  if error
    .alert.alert-danger= error
  // Register Section Begin
  .register-login-section.spad
    .container
      .row
        .col-lg-6.offset-lg-3
          .login-form
            h2 Login
            form(action='', method='POST')
              .group-input
                label(for='username') Username or email address *
                input#username(type='text', name="username")
              .group-input
                label(for='pass') Password *
                input#pass(type='password', name="password")
              .group-input.gi-check
                .gi-more
                  label(for='save-pass')
                    | Save Password
                    input#save-pass(type='checkbox', name='savePassword')
                    span.checkmark
                  a.forget-pass(href='#') Forget your Password
              button.site-btn.login-btn(type='submit') Sign In
            .switch-login
              a.or-login(href='./register.html') Or Create An Account
  // Register Form Section End
  include ./common/footer