extends ./common/layout
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span Register
  // Breadcrumb Form Section Begin
  // Register Section Begin
  .register-login-section.spad
    .container
      .row
        .col-lg-6.offset-lg-3
          .register-form
            h2 Register
            if errors
              each error in errors
                .alert.alert-danger= error
            form(action='', method='POST')
              .group-input
                label(for='username') Username or email address *
                input#username(type='text', name='username')
              .group-input
                label(for='pass') Password *
                input#pass(type='password', name='password')
              .group-input
                label(for='con-pass') Confirm Password *
                input#con-pass(type='password', name='confirmPassword')
              button.site-btn.register-btn(type='submit') REGISTER
            .switch-login
              a.or-login(href='./login') Or Login
  // Register Form Section End
  include ./common/footer