extends ./common/layout
block content
  header.header-section
    .header-top
      .container
        .ht-left
          .mail-service
            i.fa.fa-envelope
            |                         hello.colorlib@gmail.com
          .phone-service
            i.fa.fa-phone
            |                         +65 11.188.888
        .ht-right
          a.login-panel(href='#')
            i.fa.fa-user
            | Login
          .lan-selector
            select#countries.language_drop(name='countries' style='width:300px;')
              option(value='yt' data-image='img/flag-1.jpg' data-imagecss='flag yt' data-title='English') English
              option(value='yu' data-image='img/flag-2.jpg' data-imagecss='flag yu' data-title='Bangladesh') German 
          .top-social
            a(href='#')
              i.ti-facebook
            a(href='#')
              i.ti-twitter-alt
            a(href='#')
              i.ti-linkedin
            a(href='#')
              i.ti-pinterest
    .container
      .inner-header
        .row
          .col-lg-2.col-md-2
            .logo
              a(href='./index.html')
                img(src='img/logo.png' alt='')
          .col-lg-7.col-md-7
            .advanced-search
              button.category-btn(type='button') All Categories
              form.input-group(action='#')
                input(type='text' placeholder='What do you need?')
                button(type='button')
                  i.ti-search
          .col-lg-3.text-right.col-md-3
            ul.nav-right
              li.heart-icon
                a(href='#')
                  i.icon_heart_alt
                  span 1
              li.cart-icon
                a(href='#')
                  i.icon_bag_alt
                  span 3
                .cart-hover
                  .select-items
                    table
                      tbody
                        tr
                          td.si-pic
                            img(src='img/select-product-1.jpg' alt='')
                          td.si-text
                            .product-selected
                              p $60.00 x 1
                              h6 Kabino Bedside Table
                          td.si-close
                            i.ti-close
                        tr
                          td.si-pic
                            img(src='img/select-product-2.jpg' alt='')
                          td.si-text
                            .product-selected
                              p $60.00 x 1
                              h6 Kabino Bedside Table
                          td.si-close
                            i.ti-close
                  .select-total
                    span total:
                    h5 $120.00
                  .select-button
                    a.primary-btn.view-card(href='#') VIEW CARD
                    a.primary-btn.checkout-btn(href='#') CHECK OUT
              li.cart-price $150.00
    .nav-item
      .container
        .nav-depart
          .depart-btn
            i.ti-menu
            span All departments
            ul.depart-hover
              li.active
                a(href='#') Women&rsquo;s Clothing
              li
                a(href='#') Men&rsquo;s Clothing
              li
                a(href='#') Underwear
              li
                a(href='#') Kid&apos;s Clothing
              li
                a(href='#') Brand Fashion
              li
                a(href='#') Accessories/Shoes
              li
                a(href='#') Luxury Brands
              li
                a(href='#') Brand Outdoor Apparel
        nav.nav-menu.mobile-menu
          ul
            li
              a(href='./index.html') Home
            li
              a(href='./shop.html') Shop
            li
              a(href='#') Collection
              ul.dropdown
                li
                  a(href='#') Men&apos;s
                li
                  a(href='#') Women&apos;s
                li
                  a(href='#') Kid&apos;s
            li
              a(href='./blog.html') Blog
            li
              a(href='./contact.html') Contact
            li
              a(href='#') Pages
              ul.dropdown
                li
                  a(href='./blog-details.html') Blog Details
                li
                  a(href='./shopping-cart.html') Shopping Cart
                li
                  a(href='./check-out.html') Checkout
                li
                  a(href='./faq.html') Faq
                li
                  a(href='./register.html') Register
                li
                  a(href='./login.html') Login
        #mobile-menu-wrap
  // Header End
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span Shop
  // Breadcrumb Section Begin
  // Product Shop Section Begin
  section.product-shop.spad
    .container
      .row
        .col-lg-3.col-md-6.col-sm-8.order-2.order-lg-1.produts-sidebar-filter
          .filter-widget
            h4.fw-title Categories
            ul.filter-catagories
              li
                a(href='#') Men
              li
                a(href='#') Women
              li
                a(href='#') Kids
          .filter-widget
            h4.fw-title Brand
            .fw-brand-check
              .bc-item
                label(for='bc-calvin')
                  | Calvin Klein
                  input#bc-calvin(type='checkbox')
                  span.checkmark
              .bc-item
                label(for='bc-diesel')
                  | Diesel
                  input#bc-diesel(type='checkbox')
                  span.checkmark
              .bc-item
                label(for='bc-polo')
                  | Polo
                  input#bc-polo(type='checkbox')
                  span.checkmark
              .bc-item
                label(for='bc-tommy')
                  | Tommy Hilfiger
                  input#bc-tommy(type='checkbox')
                  span.checkmark
          .filter-widget
            h4.fw-title Price
            .filter-range-wrap
              .range-slider
                .price-input
                  input#minamount(type='text')
                  input#maxamount(type='text')
              .price-range.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content(data-min='33' data-max='98')
                .ui-slider-range.ui-corner-all.ui-widget-header
                span.ui-slider-handle.ui-corner-all.ui-state-default(tabindex='0')
                span.ui-slider-handle.ui-corner-all.ui-state-default(tabindex='0')
            a.filter-btn(href='#') Filter
          .filter-widget
            h4.fw-title Color
            .fw-color-choose
              .cs-item
                input#cs-black(type='radio')
                label.cs-black(for='cs-black') Black
              .cs-item
                input#cs-violet(type='radio')
                label.cs-violet(for='cs-violet') Violet
              .cs-item
                input#cs-blue(type='radio')
                label.cs-blue(for='cs-blue') Blue
              .cs-item
                input#cs-yellow(type='radio')
                label.cs-yellow(for='cs-yellow') Yellow
              .cs-item
                input#cs-red(type='radio')
                label.cs-red(for='cs-red') Red
              .cs-item
                input#cs-green(type='radio')
                label.cs-green(for='cs-green') Green
          .filter-widget
            h4.fw-title Size
            .fw-size-choose
              .sc-item
                input#s-size(type='radio')
                label(for='s-size') s
              .sc-item
                input#m-size(type='radio')
                label(for='m-size') m
              .sc-item
                input#l-size(type='radio')
                label(for='l-size') l
              .sc-item
                input#xs-size(type='radio')
                label(for='xs-size') xs
          .filter-widget
            h4.fw-title Tags
            .fw-tags
              a(href='#') Towel
              a(href='#') Shoes
              a(href='#') Coat
              a(href='#') Dresses
              a(href='#') Trousers
              a(href='#') Men&apos;s hats
              a(href='#') Backpack
        .col-lg-9.order-1.order-lg-2
          .product-show-option
            .row
              .col-lg-7.col-md-7
                .select-option
                  select.sorting
                    option(value='') Default Sorting
                  select.p-show
                    option(value='') Show:
              .col-lg-5.col-md-5.text-right
                p Show 01- 09 Of 36 Product
          .product-list
            .row
              each product in products
                .col-lg-4.col-sm-6
                  .product-item
                    .pi-pic
                      img(src= product.images[0] alt='')
                      .sale.pp-sale Sale
                      .icon
                        i.icon_heart_alt
                      ul
                        li.w-icon.active
                          a(href='#')
                            i.icon_bag_alt
                        li.quick-view
                          a(href='#') + Quick View
                        li.w-icon
                          a(href='#')
                            i.fa.fa-random
                    .pi-text
                      .catagory-name= product.category
                      a(href= "/product/" + product.id)
                        h5= product.name
                      .product-price= product.salePrice
                        span= product.price
          .loading-more
            i.icon_loading
            a(href='#')
              | Loading More
  // Product Shop Section End
  include ./common/footer
