extends ./common/layout
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text
            a(href='#')
              i.fa.fa-home
              |  Home
            span User Information
  // Breadcrumb Form Section Begin
  // Register Section Begin
  .register-login-section.spad
    .container
      .row
        .col-lg-12
          .register-form
            h2 User Information
            form(action='', method='POST', enctype='multipart/form-data')
              .mb-3
                label.form-label(for='avatar') Avatar
                div
                  img(src= user.avatar, style="max-width: 250px; max-height: 250px")
                input#avatar.form-control.mt-3(type='file', name='avatar')
              .group-input
                label(for='fullname') Full name *
                input#fullname(type='text', name='fullname', value= user.fullname)
              .group-input
                label(for='email') Email *
                input#email(type='text', name='email', value= user.email)
              .group-input
                label(for='phone') Phone number *
                input#phone(type='text', name='phoneNumber', value= user.phoneNumber)
              .group-input
                label(for='address') Address *
                input#address(type='text', name='address', value= user.address)
              button.site-btn.register-btn(type='submit') Change
  // Register Form Section End
  include ./common/footer