extends ../common/layout
block content
  #layoutSidenav_content
    main
      div(style='height: 50px;')
      .container-fluid
        h2.mb-4 Add Category
        form(method='post')
          .form-group
            label Name *
            input#title.form-control(type='text')
            small#emailHelp.form-text.text-muted  
            .form-group
              label Description *
              input#description.form-control(type='text')
              small#emailHelp.form-text.text-muted  Show in product 
            .form-check
              input#flexCheckDefault.form-check-input(type='checkbox' checked='true')
              label.form-check-label(for='flexCheckDefault')
                | Available
            button.btn.btn-primary.mt-3(type='submit') Add Category
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy; Your Website 2020
          div
            a(href='#') Privacy Policy
            |               &middot;
            a(href='#') Terms &amp; Conditions
    include ../common/footer
