extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Tables
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Tables
        .card.mb-4
          .card-body
            | DataTables is a third party plugin that is used to generate the demo table below. For more information
            | about DataTables, please visit the
            a(target='_blank' href='https://datatables.net/') official DataTables documentation
            |               .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Name
                    th Description
                    th Status
                    th Edit
                    th Remove
                tfoot
                  tr
                    th Name
                    th Description
                    th Status
                    th Edit
                    th Remove
                tbody
                  tr
                    td Tiger Nixon
                    td Lorem ipsum
                    td
                      i.fas.fa-minus-circle
                    td
                      button.btn.btn-warning
                        i.fas.fa-edit
                    td
                      button.btn.btn-danger
                        i.fas.fa-trash-alt
                  tr
                    td Tiger Tran
                    td Lorem ispum
                    td
                      i.fas.fa-check-circle
                    td
                      button.btn.btn-warning
                        i.fas.fa-edit
                    td
                      button.btn.btn-danger
                        i.fas.fa-trash-alt
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy; Your Website 2020
          div
            a(href='#') Privacy Policy
            |               &middot;
            a(href='#') Terms &amp; Conditions
    include ../common/footer
