extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Add Category
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Add Category
        form(method='post')
          .form-group
            label Name *
            input#title.form-control(type='text')
            small#emailHelp.form-text.text-muted  
            .form-group
              label Description *
              input#description.form-control(type='text')
              small#emailHelp.form-text.text-muted  Show in product 
            .form-check
              input#flexCheckDefault.form-check-input(type='checkbox' checked='true')
              label.form-check-label(for='flexCheckDefault')
                | Available
            button.btn.btn-primary.mt-3(type='submit') Add Category
    include ../common/footer
