extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Product Categories
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Product Categories
        #error-message.alert.alert-danger
        #success-message.alert.alert-success             .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Name
                    th Description
                    th.text-center Status
                    th Edit
                    th Delete
                tfoot
                  tr
                    th Name
                    th Description
                    th.text-center Status
                    th Edit
                    th Delete
                tbody
                  each category in categories
                    tr
                      td= category.name
                      td= category.description
                      td
                        if category.status
                          h5.text-center.text-success
                            i.fas.fa-check-circle
                        else 
                          h5.text-center.text-danger
                            i.fas.fa-minus-circle
                      td(name= category.id)
                        button.btn.btn-warning.edit-category
                          i.fas.fa-edit
                      td(name= category.id)
                        button.btn.btn-danger.delete-category
                          i.fas.fa-trash-alt
    include ../common/footer
    script.
      $('#error-message').hide();
      $('#success-message').hide();
      
      $(document).ready(function(){
        $('.delete-category').click(function(){
          var answer = confirm("Are you want to delete " + $(this).parent().parent().children().first().text() + " category?");
          if (answer === false) {
            return;
          }
          answer = confirm("Delete " + $(this).parent().parent().children().first().text() + 
          " category also delete all product of this category?");
          if (answer === false) {
            return;
          }
          var name = $(this).parent().attr('name');
          var selector = $(this);
          $.ajax({
            url: '/admin/category/' + name,
            type: 'delete',
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              selector.parent().parent().remove();
              $('#success-message').text('Delete ' + data.name + " category successfully!");
              $('#success-message').show();
              $('#error-message').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
              $('#error-message').text('Error.');
              $('#error-message').show();
            }
          });
        });
      });