extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Add User
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Add User
        form(method='post')
          .form-group
            label Username *
            input#title.form-control(type='text')
            small#emailHelp.form-text.text-muted
          .form-group
            label Password *
            input#price.form-control(type='text')
          .form-group
            label Email *
            input#salePrice.form-control(type='text')
          .form-group
            label Full Name *
            input#shortDescription.form-control(type='text')
          .form-group
            label Address *
            input#shortDescription.form-control(type='text')
          .form-group
            label Avatar
            input(type='file' name='images' multiple='multiple')
          .form-group
            label Role *
            select#category.form-control.form-control-line(path='categories.id')
              options(items='${categories}' itemvalue='id' itemlabel='name')
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' checked='true')
            label.form-check-label(for='flexCheckDefault')
              | Available
          button.btn.btn-primary.mt-3(type='submit') Add User
    include ../common/footer
