extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Add Post
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Add Post
        form(method='post')
          .form-group
            label Category *
            select#category.form-control.form-control-line(path='categories.id')
              options(items='${categories}' itemvalue='id' itemlabel='name')
          .form-group
            label Title *
            input#title.form-control(type='text')
            small#emailHelp.form-text.text-muted
          .form-group
            label Content *
            textarea#content.form-control.summernote(name='editordata')
          .form-group
            label Slug
            input.form-control(type='text')
          .form-group
            label Avatar
            input(type='file' name='images' multiple='multiple')
          .form-check
            input#flexCheckDefault.form-check-input(type='checkbox' checked='true')
            label.form-check-label(for='flexCheckDefault')
              | Available
          button.btn.btn-primary.mt-3(type='submit') Add Post
    include ../common/footer
    script.
      $(document).ready(function () {
        $('.summernote').summernote();
      });
