extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Posts
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Tables
        #error-message.alert.alert-danger
        #success-message.alert.alert-success
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Title
                    th Category
                    th Posted Date
                    th.text-center Status
                    th Edit
                    th Delete
                tfoot
                  tr
                    th Title
                    th Category
                    th Posted Date
                    th.text-center Status
                    th Edit
                    th Delete
                tbody
                  each post in posts
                    tr
                      td= post.title
                      td= post.category.name
                      td= post.createdDate
                      td
                        if post.status 
                          h5.text-center.text-success
                            i.fas.fa-check-circle
                        else 
                          h5.text-center.text-danger
                            i.fas.fa-minus-circle
                      td(name= post.id)
                        button.btn.btn-warning.edit-post
                          i.fas.fa-edit
                      td(name= post.id)
                        button.btn.btn-secondary.delete-post
                          i.fas.fa-trash-alt
    include ../common/footer
    script.
      $('#error-message').hide();
      $('#success-message').hide();
      
      $(document).ready(function(){
        $('.delete-post').click(function(){
          var answer = confirm("Are you want to delete " + $(this).parent().parent().children().first().text() + '?');
          if (answer === false) {
            return;
          }
          var name = $(this).parent().attr('name');
          var selector = $(this);
          $.ajax({
            url: '/admin/post/' + name,
            type: 'delete',
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              selector.parent().parent().remove();
              $('#success-message').text('Delete ' + data.title + ' successfully!');
              $('#success-message').show();
              $('#error-message').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
              $('#error-message').text('Error.');
              $('#error-message').show();
            }
          });
        });
      });