doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title 404 Error - SB Admin
  link(href='/css/styles.css' rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js' crossorigin='anonymous')
#layoutError
  #layoutError_content
    main
      .container
        .row.justify-content-center
          .col-lg-6
            .text-center.mt-4
              h1.display-1 403
              p.lead Forbidden
              p Access to this resource is denied.
              a(href='/admin')
                i.fas.fa-arrow-left.mr-1
                |                                         Return to Dashboard
  #layoutError_footer
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy; Your Website 2020
          div
            a(href='#') Privacy Policy
            |                                 &middot;
            a(href='#') Terms &amp; Conditions
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='/js/scripts.js')
